.font {
  font-family: "Inter";
}

/* main div */
.main-div{
    background-image: url("./images/contactBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact div */
.contact-div{
    max-width: 90%;
    background-color: #2c4246dd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content:center;
    align-items: center;
    padding: 32px;
}

/* form  div*/
.form-div{
    display: flex;
    width: 100%;
    row-gap: 64px;
    flex-direction: column;
    align-items: center;
}

.form-div h2{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.input-div{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
input{
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 6px;
    color: #FFFFFF;
    outline: none;
}
textarea{
    resize: none;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    min-height: 100px;
    font-size: 14px;
    padding: 11px 6px;
    outline: none;
}
.submit-btn{
    background-color: #C46A2B;
    padding-block: 16px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}
.submit-btn:hover{
    background-color: #8b3a0f;
}

/* contact info div */
.info-div{
    display: flex;
    justify-content: center;
}

.button-div{
    display: flex;
    column-gap: 72px;
    height: 48px;

}
.info-btn{
    background-color: #05bcca;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 48px;
    transition: .4s;
}
.info-btn img{
    width: 24px;
    height: 24px;
}
.info-btn:hover{
    background-color: #005d63;
}