@media(max-width: 1180px) {
    header {
        padding-inline: 50px;
    }

    .burger-menu-div {
        display: block;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar {
        column-gap: 55px;

    }

    .items-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }


}