@media(max-width: 480px){
    /* header */
    header{
        padding-inline:20px;
    }

    /* logos */
    .logo-link{
        width: 40px;
        height: 40px;
    }
    .logo1{
        width: 32px;
        height: 32px;
    }
    .logo2{
        width: 32px;
        height: 32px;
    }

    /* main section title */
    .title{
        font-size: 24px;
    }

    /* popular section */
    .popular{
        font-size: 24px;
    }
    .popular-line{
        width: 140px;
    }

    /* footer */
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-brands,.footer-info,.footer-contact{
        align-items: center;
        text-align: center;
    }

}